# ===== Java / Maven =====
target/
*.class

# ===== Azure Functions =====
local.settings.json
azure-functions/
bin/
obj/
extensions.csproj

# ===== IDE =====
.idea/
.vscode/
*.iml

# ===== OS =====
.DS_Store

# ===== Logs =====
*.log
